<!---Spanish live match-->
<mat-toolbar class="uniform-color"><h6>Spanish League</h6></mat-toolbar>
<mat-accordion multi="true" *ngIf="liveMatchSpain.length>0">
  <mat-expansion-panel *ngFor="let match of liveMatchSpain">
    <mat-expansion-panel-header (dblclick)="doubleClick()">
      {{match.hometeam}} - {{match.awayteam}}
    </mat-expansion-panel-header>
    {{match.hometeamScore}} - {{match.awayteamScore}}
    <mat-action-row>
      <button *ngIf="userIsAutenticated" #fav (click)="favorite(match.hometeam, match.awayteam, match.hometeamScore,
             match.awayteamScore, date.value, fav)"
        mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon" >favorite</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p *ngIf="liveMatchSpain.length<=0">No live match</p>

<!---English live match-->
<mat-toolbar class="uniform-color"><h6>English League</h6></mat-toolbar>


<mat-accordion multi="true" *ngIf="liveMatchEngland.length>0">
  <mat-expansion-panel *ngFor="let match of liveMatchEngland">
    <mat-expansion-panel-header (dblclick)="doubleClick()">
      {{match.hometeam}} - {{match.awayteam}}
    </mat-expansion-panel-header>
    {{match.hometeamScore}} - {{match.awayteamScore}}
    <mat-action-row>
      <button *ngIf="userIsAutenticated" #fav (click)="favorite(match.hometeam, match.awayteam, match.hometeamScore,
             match.awayteamScore, date.value, fav)"
        mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon" >favorite</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p *ngIf="liveMatchSpain.length<=0">No live match</p>


<!---france live match-->
<mat-toolbar class="uniform-color"><h6>French League</h6></mat-toolbar>


<mat-accordion multi="true" *ngIf="liveMatchFrance.length>0">
  <mat-expansion-panel *ngFor="let match of liveMatchFrance">
    <mat-expansion-panel-header (dblclick)="doubleClick()">
      {{match.hometeam}} - {{match.awayteam}}
    </mat-expansion-panel-header>
    {{match.hometeamScore}} - {{match.awayteamScore}}
    <mat-action-row>
      <button *ngIf="userIsAutenticated" #fav (click)="favorite(match.hometeam, match.awayteam, match.hometeamScore,
             match.awayteamScore, date.value, fav)"
        mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon" >favorite</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p *ngIf="liveMatchSpain.length<=0">No live match</p>
