<mat-accordion multi="true" *ngIf="matchs.length>0">
    <mat-expansion-panel *ngFor="let matchs of matchs">
      <mat-expansion-panel-header (dblclick)="doubleClick()">
        {{matchs.hometeam}} - {{matchs.awayteam}} 
      </mat-expansion-panel-header>
      {{matchs.hometeamScore}} - {{matchs.awayteamScore}}
      <mat-action-row>
        <button    mat-icon-button (click)="onDelete(matchs.id)">
          <mat-icon aria-label="Example icon-button with a heart icon" >delete</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p *ngIf="matchs.length<0">No favorite add</p>