<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        

        <mat-form-field>
            <textarea matInput rows="4" type="text" name="hometeamScore" ngModel required minlength="1" #hometeamScore="ngModel"></textarea>
            <mat-error *ngIf="hometeamScore.invalid">Enter content</mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput rows="4" type="text" name="awayteamScore" ngModel required minlength="1" #awayteamScore="ngModel"></textarea>
                <mat-error *ngIf="awayteamScore.invalid">Enter content</mat-error>
                </mat-form-field>
        <button mat-raised-button color='primary' type="submit">Save</button>
    </form>

</mat-card>

